.navbar {background-color: rgb(5, 123, 201);}
#botaonav{border-radius: 10px;border-color:#bdd7fa;border-width: 4px;}
#inputprocurar{border-radius: 10px;}
#botaonav:hover{background-color:cornflowerblue;border-color: greenyellow;}
.nav-link:hover{}